/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Soony - HTML Template
Version:	1.0
Author:	    Andrey Sokoltsov
Profile:	http://themeforest.net/user/andreysokoltsov
-------------------------------------------------------------------*/

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');
@import url('linearicons.css');
@import url('fonts.css');

/* PLUGIN CSS */
@import url('../assets/slick-1.6.0/slick/slick.css');
@import url("../assets/jquery.mCustomScrollbar/jquery.mCustomScrollbar.css");
@import url("../assets/jquery-ui-1.12.1.custom/jquery-ui.min.css");
@import url("../assets/jquery.timeentry.package-2.0.1/jquery.timeentry.css");

/* MAIN CSS */
@import url("bootstrap.min.css");
@import url("typography.css");
@import url("theme.css");
@import url("responsive.css");
@import url('color.css');
@import url("custom.css");